/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
    background-color: ghostwhite;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Full Page Carousel itself*/
.carousel {
    min-height: 100%;
}

.carousel .carousel-inner {
    min-height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    min-height: 100%;
}

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

#footer {
    margin-top: auto;
}

.top-nav-collapse {
    background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #1C2331;
}

#carousel-div {
    margin-top: 30px;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-btn {
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: 20px;
}

#scroll-btn:before {
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
}

@keyframes bounce {
    0%,
    20%,
    20%,
    30%,
    10% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    20% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

html {
    scroll-behavior: smooth;
}

#scrap-lord {
    margin-top: 8%;
}

.containerr {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 15%;
    left: 49.5%;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

#carousel-div-2 {
    margin-bottom: 30%;
}

#sign-in-container {
    margin-top: 9%;
    margin-bottom: 8%;
    width: 30%;
}

#sign-in-container-profile {
    border: 1px solid darkorange;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 30%;
}

#bot-yard, #bot-dev, #bot-astro {
    width: 300%;
    /*height: 50%;*/
}

#yard-color {
    color: darkorange;
    font-weight: bold;
}

#dev-color {
    color: grey;
    font-weight: bold;
}

#astro-color {
    color: black;
    font-weight: bold;
}

#scrap-lord-h1 {
    font-weight: bold;
    text-shadow: 0 1px #0d0d0d;
}

#dev-distance {
    margin-top: 4%;
}

#astro-distance {
    margin-top: 9%;
}

#hr-bar {
    vertical-align: top;
    margin-top: 0;
    width: 30%
}

#recycle-container-profile {
    border: 1px solid darkolivegreen;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 30%;
}

#posts-container {
    margin-top: 5%;
}

#warning-container {
    border: 2px solid darkred;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 20%;
}

#recycle-post-container {
    border: 1px solid darkorange;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-details-edit {
    border: 1px solid darkolivegreen;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 40%;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#title-wrapper {
    border: 1px solid darkorange;
    width: 50%;
}

#hr-bar, #title-wrapper, #post-description, #post-git, #post-tags {
    color: white;
}

#post-title {
    margin: .5rem 0;
}

#all-tags {
    font-size: larger;
}

.hr-dark {
    width: 35%
}

.post-item {
    width: 20%
}

.post-list-image {
    max-width: 100%;
    max-height: 100%;
}

