@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
    /*background-color: ghostwhite;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.home-page, .signup-page, .signin-page {
    background-color: ghostwhite;
}

.edit-profile-page, .profile-page, .post-create-page,
.post-details-page, .post-edit-page, .post-list-page, .post-delete-page {
    background-image: url("/static/img/stars-background.jpg");
}

/* Full Page Carousel itself*/
.carousel {
    min-height: 100%;
}

.carousel .carousel-inner {
    min-height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    min-height: 100%;
}

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

#footer {
    margin-top: auto;
}

.top-nav-collapse {
    background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #1C2331;
}

#carousel-div {
    margin-top: 30px;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-btn {
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: 20px;
}

#scroll-btn:before {
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
}

@keyframes bounce {
    0%,
    20%,
    20%,
    30%,
    10% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    20% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

html {
    scroll-behavior: smooth;
}

#scrap-lord {
    margin-top: 8%;
}

.containerr {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 15%;
    left: 49.5%;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

#carousel-div-2 {
    margin-bottom: 30%;
}

#sign-in-container {
    margin-top: 9%;
    margin-bottom: 8%;
    width: 30%;
}

#sign-in-container-profile {
    margin-top: 6%;
    margin-bottom: 3%;
    width: 30%;
    /*background-color: #000000;*/
    /*background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);*/
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to bottom,
            #057c48,
            rgba(0, 0, 0, 0)
    ) 1 1 2 2;
}

#bot-yard, #bot-dev, #bot-astro {
    width: 300%;
    /*height: 50%;*/
}

#yard-color {
    color: darkorange;
    font-weight: bold;
}

#dev-color {
    color: grey;
    font-weight: bold;
}

#astro-color {
    color: black;
    font-weight: bold;
}

#scrap-lord-h1 {
    font-weight: bold;
    text-shadow: 0 1px #0d0d0d;
}

#dev-distance {
    margin-top: 4%;
}

#astro-distance {
    margin-top: 9%;
}

#hr-bar {
    vertical-align: top;
    margin-top: 0;
    width: 70%;
    border: 0;
    border-top: 1px solid #b8c6db;
}

#recycle-container-profile {
    margin-top: 6%;
    margin-bottom: 3%;
    width: 30%;
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to bottom,
            #ffffff,
            rgba(0, 0, 0, 0)
    ) 1 1 2 2;
    /*background-color: #63d471;*/
    /*background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);*/
    /*background-color: #bdd4e7;*/
    /*background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);*/
}

#post-btn {
    border: 1px solid whitesmoke;
}

#posts-container {
    margin-top: 5%;
}

#warning-container {
    border: 2px solid darkred;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 20%;
}

#recycle-post-container {
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to bottom,
            #08adca,
            rgba(0, 0, 0, 0)
    ) 1 1 1 1;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-details-edit {
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to bottom,
            #d06d05,
            rgba(0, 0, 0, 0)
    ) 1 1 1 1;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 40%;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#title-wrapper {
    border: 1px solid darkorange;
    width: 50%;
    margin-top: 4%;
}

#post-details-img {
    margin: 2% 2%;
}

#hr-bar, #title-wrapper, #post-description, #post-git, #post-tags {
    /*color: white;*/
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to top,
            #ffffff,
            rgba(0, 0, 0, 0)
    ) 1 1 2 2;
}

#post-title {
    margin: .5rem 0;
}

#all-tags {
    font-size: larger;
}

.hr-dark {
    width: 35%
}

.post-item {
    width: 20%;
    height: 255px;
}

.post-list-image {
    max-width: 100%;
    max-height: 100%;
}

#user-username, #title-title-user {
    font-size: 150%;
}

#user-about-me {
    font-size: 110%;
}

#edit-btn {
    border: 1px solid #057c48;
}

#edit-profile-btn {
    border: 1px solid #057c48;
}

#post-list-item {
    border: 1px solid #08adca;
    border-image: linear-gradient(
            to bottom,
            #08adca,
            rgba(0, 0, 0, 0)
    ) 1 1 1 1;
    margin-bottom: 4.5%;
}

#post-list-title {
    color: whitesmoke;
    /*background: -webkit-linear-gradient(#ffffff, #a9cdd2);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

#post-details-description {
    padding: 1%;
    border: 1px solid #ffffff;
    border-image: linear-gradient(
            to top,
            #ffffff,
            rgba(0, 0, 0, 0)
    ) 1 100%;
}

#edit-post-btn {
    border: 1px solid darkorange;
}

#home-post-item {
    width: 20%;
}

#find-your-thing {

}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 2px solid #08adca;
    border-image: linear-gradient(
            to right,
            #08adca,
            rgba(0, 0, 0, 0)
    ) 1 1 1;
    /*border: 3px solid #08adca;*/
    /*border-right: none;*/
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #08adca;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #08adca;
    background: #08adca;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    transform: translate(-50%, -50%);
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.post-details-tag {
    padding: 1%;
    height: 50%;
    border: 1px solid #fff;
    margin: 0 auto;

}

#pass-check {
    display: none;
}

