{% extends 'shared/base.html' %}
{% block site_content %}
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            {#            <li data-target="#carousel-example-1z" data-slide-to="2"></li>#}
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <!-- https://mdbootstrap.com/img/Photos/Others/images/77.jpg -->
                <div class="view"
                     style="background-image: url('/static/img/space.png'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn col-sm-6 col-sm-push-6" id="carousel-div">
                            <h1 class="mb-4">
                                <strong>Welcome to the Code Junkyard</strong>
                            </h1>
                            <p id="carousel-secondary-text">
                                Recycle and reuse code by sharing it.
                            </p>
                            <button id="scroll-btn" class="btn btn-outline-white btn-lg col-4">Start treasure hunting
                                <i class="fa fa-map ml-2" aria-hidden="true"></i></button>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <div class="carousel-item">
                <!-- https://mdbootstrap.com/img/Photos/Others/images/77.jpg -->
                <div class="view" style="background-image: url('/static/img/bots.jpg'); background-repeat: no-repeat;
                     background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn" id="carousel-div-2">
                            <h1 class="mb-4">
                                <strong id="scrap-lord-h1">The scrap bots need a new commander.
                                    Become the next scrap lord!</strong>
                            </h1>
                            <div class="containerr">
                                <div class="chevron"></div>
                                <div class="chevron"></div>
                                <div class="chevron"></div>
                                <span class="text">Scroll down</span>
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Mask & flexbox options-->
                </div>
            </div>
            <!--/First slide-->
            <!--/.Slides-->

            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!--Main layout-->
    <main>
        <div class="container">

            <!--Section: Main info-->
            <section class="mt-5 wow fadeIn">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <img src="/static/img/recycle-image.jpg"
                             class="img-fluid z-depth-1-half" alt="">

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                        <!-- Main heading -->
                        <h3 class="h3 mb-3">Recycle, reuse and reduce</h3>
                        <p>Code Junkyard is a place for "recycling" code. Have you ever abandoned a project
                            that contains loads of quality code? One man's trash is another man's treasure! We have
                            to start caring about the code environment. Let's not pollute GitHub and other platforms
                            with rusty and forgotten code. Let's start recycling and reusing code!</p>
                        <!-- Main heading -->

                        <hr>
                        <p>Read details below to learn more about the Yard.</p>

                        <!-- CTA -->
                        {#                        <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"#}
                        {#                           class="btn btn-grey btn-md">Download#}
                        {#                            <i class="fas fa-download ml-1"></i>#}
                        {#                        </a>#}
                        {#                        <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/"#}
                        {#                           class="btn btn-grey btn-md">Live#}
                        {#                            demo#}
                        {#                            <i class="far fa-image ml-1"></i>#}
                        {#                        </a>#}

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Main info-->

            <hr class="my-5">

            <!--Section: Main features & Quick Start-->
            <section>

                <h3 class="h3 text-center mb-5">About / Meet the BOTs</h3>

                <!--Grid row-->
                <div class="row wow fadeIn" id="meet-bots">

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 px-4">

                        <!--First row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-code fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="yard-color">Share it and explore</h5>
                                <p class="grey-text">
                                    Just paste it. Actually, you can just link Github if you feel like it.
                                    The main thing is sharing the idea and some code, thus allowing code
                                    reusability. <strong id="yard-color">BOT Yard</strong> will ensure that you
                                    make the right choices.
                                </p>
                            </div>
                        </div>
                        <!--/First row-->

                        <div style="height:30px"></div>

                        <!--Second row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-book fa-2x blue-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="dev-color">Explain it</h5>
                                <p class="grey-text">
                                    Display your idea/code in a short and explicit way. It's all about the idea
                                    itself.
                                    You <strong>do not</strong> need to upload the whole project.
                                    <strong id="dev-color">BOT Dev</strong> will be more than happy to assist you
                                    with the organization of your
                                    posts.
                                </p>
                            </div>
                        </div>
                        <!--/Second row-->

                        <div style="height:30px"></div>

                        <!--Third row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-hashtag fa-2x cyan-text"></i>

                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="astro-color">Tag it</h5>
                                <p class="grey-text">Use tags to add keywords to your post. It's just like
                                    recycling:
                                    is it plastic, cardboard or JavaScript? Tags are used for explanation and easier
                                    access.
                                    <strong id="astro-color">BOT Astro</strong> handles the tags to make sure your
                                    code doesn't go to space.</p>
                            </div>
                        </div>
                        <!--/Third row-->

                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-1 mr-3">
                                <img src="/static/img/yard-icon-small.png" id="bot-yard">
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="yard-color">BOT Yard</h5>
                                <p class="grey-text">
                                    The main figure in here. Does most of the work. Any questions should be directed
                                    to him. Yard is very communicative
                                    and will definitely show you around quickly.
                                </p>
                            </div>
                        </div>
                        <!--/First row-->

                        <div style="height:30px"></div>

                        <!--Second row-->
                        <div class="row" id="dev-distance">
                            <div class="col-1 mr-3">
                                <img src="/static/img/dev-icon-small.png" id="bot-dev">
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="dev-color">BOT Dev</h5>
                                <p class="grey-text">
                                    Creating and organizing the posts are Dev's main responsibility. A key player
                                    in the scrap gang.
                                </p>
                            </div>
                        </div>
                        <!--/Second row-->

                        <div style="height:30px"></div>

                        <!--Third row-->
                        <div class="row" id="astro-distance">
                            <div class="col-1 mr-3">
                                <img src="/static/img/astro-icon-small.png" id="bot-astro">
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title" id="astro-color">BOT Astro</h5>
                                <p class="grey-text">
                                    Astro works day and night on the search engine. He's used to rocket engines
                                    but that works too.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/Grid column-->

                </div>
                <!--/Grid row-->

            </section>
            <!--Section: Main features & Quick Start-->

            <hr class="my-5">

            <!--Section: Not enough-->
            <section>

                <h2 class="my-5 h3 text-center">Find your thing</h2>

                <!--First row-->
                <div class="row features-small mb-5 mt-3 wow fadeIn">

                    <!--First column-->
                    <div class="col-md-4">
                        <!--First row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Free for personal and commercial use</h6>
                                <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both
                                    private
                                    as well as
                                    commercial projects.
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">400+ UI elements</h6>
                                <p class="grey-text">An impressive collection of flexible components allows you to
                                    develop any project.
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">600+ icons</h6>
                                <p class="grey-text">Hundreds of useful, scalable, vector icons at your
                                    disposal.</p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->

                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Fully responsive</h6>
                                <p class="grey-text">It doesn't matter whether your project will be displayed on
                                    desktop, laptop,
                                    tablet or mobile phone. MDB
                                    looks great on each screen.</p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-4 flex-center">
                        <img src="https://mdbootstrap.com/img/Others/screens.png"
                             alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-md-4 mt-2">
                        <!--First row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">70+ CSS animations</h6>
                                <p class="grey-text">Neat and easy to use animations, which will increase the
                                    interactivity of your
                                    project and delight your visitors.
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Plenty of useful templates</h6>
                                <p class="grey-text">Need inspiration? Use one of our predefined templates for
                                    free.</p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy installation</h6>
                                <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at
                                    how
                                    easy it is.
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->

                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to use and customize</h6>
                                <p class="grey-text">Using MDB is straightforward and pleasant. Components
                                    flexibility
                                    allows you deep
                                    customization. You will
                                    easily adjust each component to suit your needs.</p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->

            </section>
            <!--Section: Not enough-->
        </div>
    </main>
    <!--Main layout-->
{% endblock %}