{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="recycle-container-profile">
        <div id="user-title" class="d-flex justify-content-center">
            <p class="text-center mt-4 mr-2 font-weight-bold">Recycle code</p>
        </div>
        <hr id="hr-bar">
        <form action="{% url 'post create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title.label }}
            {{ form.title }}

            {{ form.description.label }}
            {{ form.description }}

            {{ form.image.label }}
            {{ form.image }}

            {{ form.git_link.label }}
            {{ form.git_link }}

            {{ form.tags.label }}
            {{ form.tags }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-green mb-4" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock %}