{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="sign-in-container-profile">
        <div id="user-title" class="d-flex justify-content-center mb-4">
            <p class="text-center mt-4 mr-2 font-weight-normal text-white" id="title-title-user">General</p>
            <p id="user-username" class="text-center mt-4 font-weight-bold font-weight-normal text-white">
                {{ user.username }}
            </p>
        </div>
        <form method="post" action="{% url 'user profile edit' user.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group text-white">
                <label for="id_about_me">About me:</label>
                {{ form.about_me }}
            </div>
            <div class="form-block text-white">
                <label for="id_github_link"><i class="fab fa-github"></i></label>
                {{ form.github_link }}
            </div>
            <div class="form-block text-white">
                <label for="id_github_link"><i class="fab fa-linkedin-in"></i></label>
                {{ form.linkedin_link }}
            </div>
            <div class="form-block text-white">
                {% if form.profile_picture %}{{ form.profile_picture }}{% endif %}
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn mb-4 text-white" type="submit" id="edit-profile-btn">Apply changes</button>
            </div>
        </form>
    </div>
{% endblock %}