{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="sign-in-container-profile">
        <div id="user-title" class="d-flex justify-content-center mb-4">
            <p class="text-center mt-4 mr-2 font-weight-bold">General</p>
            <p id="user-username" class="text-center mt-4 font-weight-bold">
                {{ user.username }}
            </p>
        </div>
        <form method="post" class="furniture-form">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'user profile edit' user.pk %}" class="btn btn-warning mb-4" type="submit">Apply
                        changes</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}