{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="sign-in-container-profile">
            <div id="user-title" class="d-flex justify-content-center">
                <p class="text-center mt-4 mr-2 font-weight-bold">General</p>
                <p id="user-username" class="text-center mt-4 font-weight-bold">
                    {{ user.username }}
                </p>
            </div>
            <hr id="hr-bar">
        <div class="d-flex justify-content-center mb-4">
            <img src="{% if profile.profile_picture.url %}{{ profile.profile_picture.url }}{% endif %}"
                 alt="no pic" class="w-50 rounded">
        </div>
        <div id="user-about-me" class="d-block text-center">
            <p class="text-">Extracted "about" data:</p>
            <p>
                {{ profile.about_me }}
            </p>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <a id="user-git-link" href="{{ profile.github_link }}" class="mr-4 text-dark" target="_blank">
                <i class="fab fa-github">
                </i>
            </a>
            <a id="user-git-link" href="{{ profile.linkedin_link }}" class="text-dark" target="_blank">
                <i class="fab fa-linkedin-in">
                </i>
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'user profile edit' user.pk %}" class="btn btn-warning mb-4">Edit</a>
        </div>
    </div>
{% endblock %}