{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="sign-in-container-profile">
        {% include 'shared/title-and-user.html' %}
        <div class="d-flex justify-content-center mb-4">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}"
                     alt="" class="w-50 rounded">
            {% else %}
                <img src="/static/img/default-profile.png"
                     alt="upload a profile pic" class="w-50 rounded">
            {% endif %}
        </div>
        <div id="user-about-me" class="d-block text-center">
            <p class="text-">Extracted "about" data:</p>
            <p>
                {{ profile.about_me }}
            </p>
        </div>
        <hr class="hr-dark">
        <div class="d-flex justify-content-center mb-4">
            <a id="user-git-link" href="{{ profile.github_link }}" class="mr-4 text-dark" target="_blank">
                <i class="fab fa-github">
                </i>
            </a>
            <a id="user-git-link" href="{{ profile.linkedin_link }}" class="text-dark" target="_blank">
                <i class="fab fa-linkedin-in">
                </i>
            </a>
        </div>
        {% if current_user != user %}
        {% else %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'user profile edit' user.pk %}" class="btn btn-warning mb-4">Edit</a>
            </div>
        {% endif %}
    </div>
{% endblock %}