{% extends 'shared/base.html' %}
{% block site_content %}
    <div class="container" id="sign-in-container">
        <!-- Default form login -->
        <form class="text-center border border-light p-5" action="{% url 'user signin' %}" method="post">

            <p class="h4 mb-4">Sign in</p>
            {% csrf_token %}
            <!-- Username -->
            <input type="text" name="username" id="defaultLoginFormUsername"
                   class="form-control mb-4" placeholder="Username">

            <!-- Password -->
            <input type="password" name="password" id="defaultLoginFormPassword"
                   class="form-control mb-4" placeholder="Password">

{#            <div class="d-flex justify-content-around">#}
{#                <div>#}
{#                    <!-- Remember me -->#}
{#                    <div class="custom-control custom-checkbox">#}
{#                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">#}
{#                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <!-- Forgot password -->#}
{#                    <a href="">Forgot password?</a>#}
{#                </div>#}
{#            </div>#}
            <!-- Sign in button -->
            <button class="btn btn-dark btn-block my-4" id="sign-button" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="{% url 'user signup' %}">Sign up</a>
            </p>
        </form>
        <!-- Default form login -->
    </div>
{% endblock %}