{% extends 'shared/base.html' %}
{% block site_content %}
    <!-- Default form register -->
    <div class="container" id="sign-in-container">
        <form class="text-center border border-light p-5" method="post">
            <p class="h4 mb-4">Sign up</p>
            {% csrf_token %}
            <!-- Username -->
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <div id="pass-check" class="text-left ml-1 mb-3 font-small">
                <p id="upper-case">At least 1 upper case letter.</p>
                <p id="lower-case">At least 1 lower case letter.</p>
                <p id="length-case">At least 8 characters.</p>
                <p id="match-case">Passwords must match.</p>
            </div>
            <button id="sign-up-btn" class="btn btn-dark my-4 btn-block" type="submit">Sign up</button>
            <hr>
            <p class="text-center">Already have an account?
                <a href="{% url 'user signin' %}">Sign in.</a>
            </p>
        </form>
    </div>
    <script type="text/javascript" src="/static/js/pass-validator.js"></script>
{% endblock %}
